In this exercise, we will use scikit-learn to automatically train a KNN classifier on the German credit approval dataset and try out different values for the `n_neighbors` and `p` hyperparameters to get the optimal output values. We will need to scale the data before fitting KNN.

1.- Import the `pandas`package as `pd`

2.- Create a new variable called `file_url`, which will contain the URL to the raw dataset.

  > **Note**  
  > This exercise is a follow up from Exercise 3.02, Applying Label Encoding to Transform Categorical Variables into Numerical.

3.- Load the data using the `pd.read_csv()` method. And show the first 5 rows.

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,other_debtors,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,1,6,1,4,1169,4,0,4,2,4,2,67,1,1,2,1,1,1,1
1,1,0,48,3,4,5951,1,2,2,2,2,2,22,1,1,1,1,1,0,1
2,0,3,12,1,0,2096,1,3,2,2,3,2,49,1,1,1,3,2,0,1
3,0,1,42,3,7,7882,1,3,2,1,4,0,45,1,0,1,1,2,0,1
4,1,1,24,2,2,4870,1,2,3,2,4,3,53,1,0,2,1,2,0,1

4.- Import `preprocessing` from `scikit-learn`

5.- Instantiate `MinMaxScaler` with `feature_range=(0,1)` and save it to a variable called `scaler`

6.- Fit the scaler and apply the corresponding transformation to the DataFrame using `.fit_transform()` and save the results to a variable called `scaled_credit`

7.- Extract the `response` variable (the first column) to a new variable called `label`

8.- Extract the features (all the columns except for the first one) to a new variable called `features`

9.- Import `model_selection.train_test_split` from `sklearn`

10.- Split the scaled dataset into training and testing sets with `test_size=0.2` and `random_state=7` using `train_test_split`

11.- Import `neighbors` from `sklearn`

12.- Instantiate `KNeighborsClassifier` and save it to a variable called `classifier`

13.- Fit the k-nearest neighbors classifier on the training set. Since we have not mentioned the value of `k`, the default is $5$

KNeighborsClassifier()

14.- Print the accuracy score for the training set with `.score()`

Output:

0.78625

0.78625

With this, we've achieved an accuracy score of $0.78625$ on the training set with the default hyperparameter values: `k=5` and the Euclidean distance

15.- Print the accuracy score for the testing set with `.score()`

Output:

0.75

0.75

The accuracy score dropped to 0.75 on the testing set. This means our model is overfitting and doesn't generalize well to unseen data.